<section class="banner" role="banner" id="banner">
        <section id="intro" class="section intro">
          <div class="container">
            <div class="col-md-8 col-md-offset-2 text-center">
                 <h2 style="color:azure;">Don't Miss This Event</h2>
                <!-- <marquee behavior="alternative"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eu libero scelerisque ligula sagittis faucibus eget quis lacus.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> 
                  </marquee> -->
                  <a [routerLink]="['/signup']" class="btn btn-large">Sign UP</a> 
            </div>
          </div>
        </section>
      </section>
      <section id="intro" class="section intro">
<div class="col-lg-4 offset-lg-3">
        <form action="abcd.html">
            <div class="form-group">
                <label for="inputAddress">Name</label>
                <input type="text" class="form-control" [(ngModel)]="name" name="name">
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Email</label>
                    <input type="email" class="form-control" id="inputEmail4" [(ngModel)]="email" placeholder="Email" name="email">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4">password</label>
                    <input type="password" class="form-control" id="inputPassword4" [(ngModel)]="password" placeholder="Password" name="password">
                </div>
            </div>
            <div class="form-group">
                <label for="inputAddress">Address</label>
                <input type="text" class="form-control" id="inputAddress" [(ngModel)]="address" name="address">
            </div>
            <div class="form-row" style="float: left">
                <div class="form-group col-md-6">
                    <label for="inputCity">city></label>
                    <input type="text" class="form-control" id="inputCity" name="city" [(ngModel)]="city">
                </div>
            </div >
            <!-- <div class="form-row" style="float: left">
              <div class="form-group col-md-6">
                  <label for="inputCity">Image</label>
                  <input type="text" class="form-control" id="inputCity" name="image" [(ngModel)]="image">
              </div>
          </div > -->
            <button type="submit" class="btn btn-primary" (click)="addData()">Submit</button>
        </form>
      </div>
      </section>