<footer class="footer">
   
    <div class="container pb-30 pt-40 font-family-1">
		<div class="row">
			<div class="col-sm-3">
				<div class="text-size-20">Contact Us</div>
				<hr class="hr-whtie mt-5" />
				<div class="text-size-18 text-wheat">Institute of Information Technology & Management</div>
				<div class="text-size-16 text-wheat">D-29, Institutional Area, Janakpuri, New Delhi-110058</div>
				<div class="mt-10 text-wheat">
					<i class="fa fa-phone-square"></i> Contact<br/>+91/011-28525882, 28520239, 28525051
				</div>
				<div class="mt-10 text-wheat">					
					<i class="fa fa-envelope"></i> Email<br/>director@iitmipu.ac.in
				</div>
			</div>
			  <div class="col-sm-3"> 
				<div class="text-size-20">Institutional Memberships</div>
				<hr class="hr-whtie mt-5" />
				<ul>
					<li><a href="direct-file/aima.pdf" target="_blank">All India Management Association (AIMA)</a></li>
					<li><a href="direct-file/csi.pdf" target="_blank">Computer Society of India</a></li>
					<li><a href="direct-file/csi_form.pdf" target="_blank">CSI Application Form</a></li>
					<li><a href="direct-file/delnet.pdf" target="_blank">DELNET</a></li>
					<li><a href="direct-file/phd_chamber.pdf" target="_blank">PHD-Chamber for Commerce & Industry</a></li>
					<li><a href="direct-file/iste-faculty.pdf" target="_blank">ISTE Faculty Chapter</a></li>
					<li><a href="direct-file/iste-student.pdf" target="_blank">ISTE Student Chapter</a></li>
					<li><a href="direct-file/iste-student-form.pdf" target="_blank">ISTE Student Registration Form</a></li>
					<li><a href="direct-file/assocham.pdf" target="_blank">ASSOCHAM</a></li>
					<li><a href="direct-file/nhrd.pdf" target="_blank">NHRD Network</a></li>
				</ul>
			</div>
			<div class="col-sm-3">
				<div class="text-size-20">Research & Consultancy</div>
				<hr class="hr-whtie mt-5" />
				<ul>
					<li><a href="researchcell.php">Research Committee</a></li>
					<li><a href="direct-file/projects.pdf" target="_blank">Projects</a></li>
					<li><a href="direct-file/consultancy.pdf" target="_blank">Consultancy</a></li>
				</ul>
				<div class="text-size-20 mt-20">Grievance Redressal System</div>
				<hr class="hr-whtie mt-5" />
				<ul>
					<li><a href="upload/just_pdf/university_advisory.pdf" target="_blank">Grievance Redressal University Advisory</a></li>
					<li><a href="upload/just_pdf/grievances_redressal_committiee.pdf" target="_blank">Grievance Redressal Committee</a></li>
					<li><a href="upload/just_pdf/procedure_for_filing_grievances.pdf" target="_blank">Procedure to file Grievances</a></li>
					<li><a href="http://www.iitmjanakpuri-sdc.com/tracking/" target="_blank">Grievance Redressal System</a></li>
				</ul>
			</div>
			<div class="col-sm-3">
				<div class="text-size-20">Accreditation</div>
				<hr class="hr-whtie mt-5" />
				<ul>
					<li><a href="direct-file/nba.pdf" target="_blank">NBA</a></li>
					<li><a href="naac.php"	>NAAC</a></li>
					<li><a href="#iso" name="iso">ISO Certification</a>
						<ul style="padding-left: 20px; list-style-type:circle;">
							<li><a href="direct-file/iso-9001-2015.pdf" target="_blank">ISO 9001 : 2015</a></li>
							<li><a href="direct-file/iso-10002-2014.pdf" target="_blank">ISO 10002 : 2014</a></li>
						</ul>
					</li>
					<li><a href="iqac.php">IQAC</a></li>
				</ul> 
				<div class="text-size-20 mt-20">NIRF</div>
				<hr class="hr-whtie mt-5" />
				<ul>
					<li><a href="nirf.php">NIRF</a>
				</ul>
			</div>
		</div> 
		 <div class="row mt-40">
			<div class="col-sm-12 text-center">
				©Institute of Information Technology & Management 2019<br>
				 <strong> Visitor's Count 1239 </strong> 
			</div>
        </div> 
         <div class="copyright pb-5 text-center"> 
            <p>© college Event Management| Developed & Design by Keshri nandan & Chitrank</p>
        </div> 
	</div>

</footer>

        