<!-- <section id="featured">
  start slider -->
   <!-- <div class="container">
    <div class="row">
      <div class="c"> -->
        <!-- Slider -->
        <!-- <div id="main-slider" class="flexslider">
          <ul class="slides">
            <li>
              <img src="../../assets/images/E2.jpg" alt="" height="700px" />
              <div class="flex-caption">
                <h3>Browse Wedding Venues and Vendors</h3>
                <p>Hassle Free Planning & Booking at Our Guaranteed Best Prices.</p>
                <a href="#" class="btn btn-theme">Learn More</a> -->
              <!-- </div>
            </li>
            <li>
              <img src="../../assets/images/E2.jpg" alt="" height="700px"/>
              <div class="flex-caption">
                <h3>Plan Your Wedding With India's Largest Wedding Company.</h3>
                <p>Find, Compare And Book Wedding Venues And Services.</p> -->
                <!-- <a href="#" class="btn btn-theme">Learn More</a> -->
              <!-- </div>
            </li>
            <li>
              <img src="../../assets/images/event1.jpg" alt="" height="700px"/>
              <div class="flex-caption">
                <h3>WEDDING SALAD</h3>
                <p>Best Prices Guaranteed.</p> -->
                <!-- <a href="#" class="btn btn-theme">Learn More</a> -->
              <!-- </div>
            </li>
          </ul>
        </div> -->
        <!-- end slider -->
      <!-- </div>
    </div>
  </div> --> 



<!-- </section>  -->

<section class="banner" role="banner" id="banner">
  <section id="intro" class="section intro">
    <div class="container">
      <div class="col-md-8 col-md-offset-2 text-center">
           <h2 style="color:azure;">Don't Miss This Event</h2>
          <marquee behavior="alternative"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eu libero scelerisque ligula sagittis faucibus eget quis lacus.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> 
            </marquee>
            <a [routerLink]="['/event']" class="btn btn-large">Events</a> 
      </div>
    </div>
  </section>
</section>
<!-- <div class="container">
        <div class="col-md-10">
          <div class="banner-text text-center">
            <h1>THE COLLEGE Event</h1>
            <p>Live rocking events</p> 
            <div class="countdown styled"></div>
            </div>
           banner text 
        </div>
      </div> -->
     
<!-- intro section -->

  <!-- intro section --> 