<section id="teams" class="section teams">
    <div class="container">
        <div class="section-header">
                  <h2 class="wow fadeInDown animated">Our Gang</h2>
                  <p class="wow fadeInDown animated">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget risus vitae massa <br> semper aliquam quis mattis quam.</p>
              </div>
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="person"><img src="images/team-1.jpg" alt="" class="img-responsive">
            <div class="person-content">
              <h4>Jonh Dow</h4>
              <h5 class="role">Founder</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit eget risus vitae massa.</p>
            </div>
            <ul class="social-icons clearfix">
              <li><a href="#"><span class="fa fa-facebook"></span></a></li>
              <li><a href="#"><span class="fa fa-twitter"></span></a></li> 
              <li><a href="#"><span class="fa fa-google-plus"></span></a></li> 
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="person"> <img src="images/team-2.jpg" alt="" class="img-responsive">
            <div class="person-content">
              <h4>Markus Linn</h4>
              <h5 class="role">Music</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit eget risus vitae massa.</p>
            </div>
            <ul class="social-icons clearfix">
              <li><a href="#" class=""><span class="fa fa-facebook"></span></a></li>
              <li><a href="#" class=""><span class="fa fa-twitter"></span></a></li> 
              <li><a href="#" class=""><span class="fa fa-google-plus"></span></a></li> 
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="person"> <img src="../../assets/team-.jpg" alt="" class="img-responsive">
            <div class="person-content">
              <h4>Chris Jemes</h4>
              <h5 class="role">Singer</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit eget risus vitae massa.</p>
            </div>
            <ul class="social-icons clearfix">
              <li><a href="#" class=""><span class="fa fa-facebook"></span></a></li>
              <li><a href="#" class=""><span class="fa fa-twitter"></span></a></li> 
              <li><a href="#" class=""><span class="fa fa-google-plus"></span></a></li> 
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="person"> <img src="images/team-4.jpg" alt="" class="img-responsive">
            <div class="person-content">
              <h4>Vintes Mars</h4>
              <h5 class="role">Singler</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit eget risus vitae massa.</p>
            </div>
            <ul class="social-icons clearfix">
              <li><a href="#" class=""><span class="fa fa-facebook"></span></a></li>
              <li><a href="#" class=""><span class="fa fa-twitter"></span></a></li> 
              <li><a href="#" class=""><span class="fa fa-google-plus"></span></a></li> 
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="testimonials" class="section testimonials no-padding">
    <div class="container-fluid">
      <div class="row no-gutter">
        <div class="flexslider">
          <ul class="slides">
            <li>
              <div class="col-md-12">
                <blockquote>
                  <h1>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget risus vitae massa 
  semper aliquam quis mattis consectetur adipiscing elit.." </h1>
                  <p>Chris Mentsl</p>
                </blockquote>
              </div>
            </li>
            <li>
              <div class="col-md-12">
                <blockquote>
                  <h1>"Praesent eget risus vitae massa Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget risus vitae massa 
  semper aliquam quis mattis consectetur adipiscing elit.." </h1>
                  <p>Kristean velnly</p>
                </blockquote>
              </div>
            </li>
            <li>
              <div class="col-md-12">
                <blockquote>
                  <h1>"Consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget risus vitae massa 
  semper aliquam quis mattis consectetur adipiscing elit.." </h1>
                  <p>Markus Denny</p>
                </blockquote>
              </div>
            </li>
            <li>
              <div class="col-md-12">
                <blockquote>
                  <h1>"Vitae massa semper aliquam Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget risus vitae massa 
  semper aliquam quis mattis consectetur adipiscing elit.." </h1>
                  <p>John Doe</p>
                </blockquote>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>